.. example documentation master file, created by
   sphinx-quickstart on Wed Apr 15 21:59:35 2020.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Welcome to {{app_name}}'s documentation!
===================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   interbuild/autoapi/{{app_name}}.application/{{app_name}}.application

For information on how to build documentation with Origen, see :link-to:`the documentation guides <origen~guides:documenting>`.

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
