*.egg-info
__pycache__
/rust/origen/target
/rust/pyapi/target
pip-wheel-metadata/
_origen.pyd
log/
.vscode

# Editor cruft
*.swp
*.swo
*~

# Output files from regressions
python/templates/dut_info.txt
