*.egg-info
__pycache__
/rust/origen/target
/rust/pyapi/target
pip-wheel-metadata/
_origen.pyd
log/
.vscode

# Output directories
/python/output
/python/.origen
/python/web/source/_static/build
/python/web/source/interbuild

# Editor cruft
*.swp
*.swo
*~
