*.egg-info
__pycache__
/rust/origen/target
/rust/pyapi/target
pip-wheel-metadata/
_origen.pyd
log/
.vscode
/test_apps/python_app/example/templates/dut_info.txt
/python/dist
rls/

# Output directories
/python/output
/python/.origen
/python/web/source/_static/build
/python/web/source/interbuild

# Editor cruft
*.swp
*.swo
*~
*.pylintrc

# Output files from regressions
python/templates/dut_info.txt
