from origen.application import Base

# This class represents this application and is automatically instantiated as origen.app
# It is required by Origen and should not be renamed or removed under any circumstances.
# An instance of this class is automatically instantiated and available as `origen.app`.:w

class Application(Base):
    pass
