		data_collection				Test	nvm_allflash_vsgdist	ErsSatVsg						None														
{%- if include_fw %}
		data_collection				Test	nvm_allflash_vsgdist_fw	ErsSatVsgFW						None														
{%- endif %}
{%- if include_tifr %}
		data_collection				Test	nvm_allflash_vsgdist_tifr	ErsSatVsgTIFR						None														
{%- endif %}
		data_collection				Test	nvm_allflash_vsgdist_uifr	ErsSatVsgUIFR						None														
